<mat-card id="auth-content"   [ngClass]="{'dark-theme' : isDarkTheme }">
    <mat-card-header>
        <mat-card-title>
            <p>Authenticator</p>
        </mat-card-title>
    </mat-card-header>
    <div *ngIf="isAuthState(0)">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" novalidate>
            <input formControlName="alias" type="text" placeholder="alias ex: atp-ariel">
            <input formControlName="password" type="password" placeholder="password">
            <button mat-flat-button type="submit" color="basic" class="rounded-pill btn-primary">Login</button>
        </form>
    </div>
    <div *ngIf="isAuthState(1)">
        <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit()" novalidate>
            <input formControlName="alias" type="text" placeholder="alias ex: atp-ariel">
            <input formControlName="username" type="text" placeholder="username ex: Ariel Triana">
            <input formControlName="password" type="password" placeholder="password">
            <input formControlName="answer1" type="text" placeholder="what is your favorite film?">
            <input formControlName="answer2" type="text" placeholder="what is your favorite musician?">
            <button mat-flat-button type="submit" color="basic" class="rounded-pill btn-primary" >Create</button>
        </form>
    </div>
    <div *ngIf="isAuthState(2)">
        <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()" novalidate>
            <input formControlName="alias" type="text" placeholder="alias ex: atp-ariel">
            <input formControlName="password" type="password" placeholder="password">
            <input formControlName="answer1" type="text" placeholder="what is your favorite film?">
            <input formControlName="answer2" type="text" placeholder="what is your favorite musician?">
            <button mat-flat-button type="submit" color="basic" class="rounded-pill btn-primary">Reset</button>
        </form>
    </div>
    <mat-card-actions align="end">
        <button mat-flat-button class="font-yellow" (click)="onForgot()">Forgot password</button>
        <button mat-flat-button class="font-yellow" (click)="onCreate()">Create an account</button>
        <button mat-flat-button class="font-yellow" (click)="onLogin()">Login</button>
    </mat-card-actions>
</mat-card>